body {
    background-color: antiquewhite;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
.text-wrapper {
    margin-bottom: 20px;
}
h1 {
    text-align: center;
}
.button-wrapper {
    display: flex;
    gap: 10px;
}